{% extends "base.html" %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 hero-image">
                <div class="hero-text">
                    <h2>Text over hero Image</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            <div class="col-md-4">Post1</div>
            <div class="col-md-4">Post2</div>
            <div class="col-md-4">Post3</div>
        </div>

        <div class="row">
            <div class="col-md-4">Post4</div>
            <div class="col-md-4">Post5</div>
            <div class="col-md-4">Post6</div>
        </div>

        <div class="row">
            <div class="col-md-4">Post7</div>
            <div class="col-md-4">Post8</div>
            <div class="col-md-4">Post9</div>
        </div>

    </div>
</section>
{% endblock %}