{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3 class="sign">{% trans "Sign In" %}</h3>
            <p>
                {% blocktrans %}<p class="sign">If you haven't already, please <a href="{{ signup_url }}" class="link">sign up</a> gain 
                access to all our blog's features.{% endblocktrans %}
            </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
                <button class="btn btn-danger" type="submit" tags="prominent,login">{% trans "Sign In" %}</button>
        {% endslot %}
    {% endelement %}
</div>
    </div>
        </div>
{% endblock content %}
