@charset "UTF-8";

/* -- Custom CSS -- */

/* base.html */

body {
  font-size: 1.25rem;
}

.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: 100px;
    padding-bottom: 8rem;
    background-image: url('/static/images/hero-image-blog.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

.site-heading h1 {
   color: #fff;
}

.subheading {
    color: #fff;
    font-weight: 700;
}

.fas {
    color:#212529;
}

.fab {
    color: #952c0c;
}

.fab:hover {
  color: #fff;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: none;
  clear: both;
  position: relative;
  width: 100%;
  height: 10%;
}

body {
  background: rgb(171,53,16);
  background: linear-gradient(0deg, rgba(171,53,16,1) 0%, rgba(0,0,0,1) 50%);
  border: hidden;
}

/* index.html  */

.thumbnail {
  margin-bottom: 5px;
  width: 50vw;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px;
  color: #fff;
}


/* blog.html */

#blog-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-thumbnail {
  display: inline-block;
  width: 30%;
  height: 500px;
  margin: 5px;
  vertical-align: top;
  color: #fff;
}

.captionPreview {
  font-size: smaller;
}

.title {
  font-weight: 700;
  font-size: large;
  color: #fff;
  text-decoration: underline;
}

.title:hover {
  color: #952c0c;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image img {
  object-fit:cover;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.image img:hover {
  border: 2px solid #952c0c;
}

.author {
  font-size: small;
  text-decoration: none;
  color: #fff;
}

.author:hover {
  color: #fff;
}

.date, .location {
  font-size: smaller;
}

.add-post {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
}

/* specific_post.html */

.full-title {
  font-weight: 500;
  letter-spacing: 0.2em;
  font-size: 2rem;
  color: #fff;
  text-decoration: underline;
}

.full-post {
  color: #fff;
}

.full-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-image img {
  object-fit:cover;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.link2 {
  color: #fff;
  text-decoration: underline;
}

.link2:hover {
  color: #212529;
}

.btn-like {
  background: none;
  border: none;
  font-size: large;
}

.liked {
  color: red;
}

.unliked {
  color: #fff;
}

.fa-heart {
  padding: 15px 0px 15px;
}

.comment-btn {
  margin-top: 5px;
  display: block;
}

.requiredField {
  display: none;
}

#id_comment_content {
  width: 33vw;
  height: 10vh;
}

#comment-author {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 0;
}

#comment {
  font-size: medium;
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 10px;
}

.specific-comment {
  width: 33vw;
  padding: 3px 3px 15px 3px;
}

.comment-header {
  padding-top: 5px;
  border-top: 2px solid #fff;
  width: 33vw;
}

/* add_post.html */

.add-post-form>p>label {
  vertical-align: top;
}

#id_image {
  color: #fff;
}

/* login.html/logout.html/signup.html */

.helptext {
  visibility: hidden;
}

#id_email {
  visibility: hidden;
}

label {
  color: #fff;
  text-decoration: none;
}

form ul {
  color: #fff;
  text-decoration: none;
}

.hide-email p:nth-of-type(2) {
  display: none;
}

.sign {
  color: #fff;
}

.link {
  color: #fff;
  text-decoration: underline;
}

.link:hover {
  color: #952c0c;
}

.btn, .btn-danger {
  background-color: #212529;
  color: #952c0c;
  font-weight: 600;
  margin-bottom: 5px;
  border: none;
}

.btn:hover, .btn-danger:hover {
  color: #fff;
  background-color: #212529;
}


 /* Responsive Media  */

 @media (min-width: 1600px) {
  .blog-thumbnail {
    margin: 50px;
  }
 }

 @media (min-width: 2000px) {
  .blog-thumbnail {
    margin: 75px;
  }
  .responsive {
    font-size: 150%;
  }
 }

 @media (min-width: 2250px) {
  .blog-thumbnail {
    margin: 100px;
  }
  .responsive {
    font-size: 175%;
  }
 }

 @media (min-width: 2500px) {
  .blog-thumbnail {
    margin: 125px;
  }
  .responsive {
    font-size: 200%;
  }
 }

 @media (min-width: 2750px) {
  .blog-thumbnail {
    margin: 150px;
  }
 }

 @media (min-width: 1300px) {
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 10rem;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 8rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 5rem;
  }
}

 @media (min-width: 992px) {
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 5rem;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 3.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.875rem;
  }
}

@media (max-width: 992px) {
  header.masthead {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 2rem;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 2rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.2rem;
  }
  .navbar-brand {
    font-size: 1rem;
  }
}

@media (max-width: 770px) {
  .nav-item, .navbar-nav, .ms-auto, .py-4, .py-lg-0 {
    display: inline;
  }
  .masthead {
    font-size: 0.5rem;
  }
  .blog-thumbnail {
    display: inline-block;
    width: 30%;
    height: 500px;
    margin: 5px;
    vertical-align: top;
    color: #fff;
  }
  .thumbnail {
    margin-bottom: 5px;
    width: 70vw;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    color: #fff;
  }
  .title {
    font-weight: 500;
    font-size: medium;
    color: #fff;
    text-decoration: underline;
  }
}

/* Bootstrap Clean Blog Theme */


/*!
* Start Bootstrap - Clean Blog v6.0.9 (https://startbootstrap.com/theme/clean-blog)
* Copyright 2013-2023 Start Bootstrap
* Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-clean-blog/blob/master/LICENSE)
*/
/*!
 * Bootstrap  v5.2.3 (https://getbootstrap.com/)
 * Copyright 2011-2022 The Bootstrap Authors
 * Copyright 2011-2022 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

/* @media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
} */

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: var(--bs-link-color);
  text-decoration: none;
}
a:hover {
  color: var(--bs-link-hover-color);
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 992px) {
  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem;
  }
}

.border-top {
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

hr {
  border-color: #dee2e6;
  opacity: 1;
}

p {
  margin: 2rem 0;
}
p a {
  text-decoration: underline;
}

#mainNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0.75rem;
  text-transform: uppercase;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link {
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  color: #fff;
}

header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 3rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
}
header.masthead .post-heading h1, header.masthead .post-heading .h1 {
  font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0 2rem;
}
header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
}
header.masthead .post-heading .meta a {
  color: #fff;
}

.section-heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 3.75rem;
}

.caption {
  font-size: 0.875rem;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 0.625rem;
  text-align: center;
}

.post-preview > a {
  color: #212529;
}
.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}
.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.post-preview > .post-meta {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}
.post-preview > .post-meta > a {
  text-decoration: none;
}
@media (min-width: 992px) {
  .post-preview > a > .post-title {
    font-size: 2.25rem;
  }
}