{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <h3 class="sign">Amend your comment</h3>
                <p class="sign">To remove, simply clear.</p>
                {% if user.is_authenticated %}
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <p>
                                <button type="submit" class="btn btn-danger">Update Your Comment</button>
                            </p>
                        </div>
                    </form>
                    {% else %}
                        <div>
                            <h6 class="add-post">Please <a class="link2" href="{% url 'account_login' %}">log in</a>, or 
                            <a class="link2" href="{% url 'account_signup' %}">create an account</a> to create a post.</h6>
                        </div>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}