{% extends "base.html" %}

{% block content %}
    <!-- Bootstrap Clean Blog Theme -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-preview">
                    <!-- Custom Code -->
                    {% for post in post_list %}
                    <div class="thumbnail">
                    {% if post.status == True %}
                        <a href="{% url 'specific_post' post.slug %}">
                        <div>
                            <div class="title">{{ post.title }}</div>
                            <div class="image"><img src="{{ post.image.url }}" alt="post_image"></div>
                            <div class="caption-preview">{{ post.caption }}</div>
                        </a>
                            <div class="author">From: {{ post.created_by }}</div>
                            <div class="likes">{{ post.likes_count }}</div>
                            <div class="date">{{ post.date_created }}</div>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}