{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Bootstrap Clean Blog Theme -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <!-- Custom Code -->
                    <div class="full-post">
                        <div>
                            <h2 class="full-title">{{ post.title }}</h2> <span class="author">From: {{ post.created_by }}</span>
                            <div class="full-image"><img src="{{ post.image.url }}" alt="post_image"></div>
                            <p class="full-caption">{{ post.caption }}</p>
                            <div class="likes">{{ post.likes_count }}</div>
                            <span class="location">{{ post.location }}</span> - <span class="date">{{ post.date_created }}</span>
                        </div>
                        <br>
                        <div class="comment-section">
                            <h4>Comments:</h4>
                            {% for comment in comments %}
                                <div>
                                    <p class="comment">{{ comment.comment_content }}</p>
                                    <p class="comment-author">{{ comment.created_by }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div>
                            {% if user.is_authenticated %}
                            <h5>Add a comment as {{ user.username }}:</h5>
                                <div>
                                    <form method="POST" class="comment-form">
                                        {{ comment_form | crispy }}
                                        <input type="text" id="comment-input" name="comment-input" placeholder="Write comment here...">
                                        {% csrf_token %}
                                        <br>
                                        <br>
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </form>
                            {% else %}
                                    <h6>Please <a class="link2" href="{% url 'account_login' %}">log in</a>, or 
                                    <a class="link2" href="{% url 'account_signup' %}">create an account</a> to leave comments.</h6>
                                </div>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}