{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Bootstrap Clean Blog Theme -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <!-- Custom Code -->
                <div class="full-post">
                    <div>
                        <h2 class="full-title">{{ post.title }}</h2> <span class="author">From: {{ post.created_by }}</span>

                        <div class="full-image"><img src="{{ post.image.url }}" alt="post_image"></div>

                        <p class="full-caption">{{ post.caption }}</p>

                        <span class="location">{{ post.location }}</span> - <span class="date">{{ post.date_created }}</span>

                        {% if user.is_authenticated %}
                            <form action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                    <i class="fa-solid fa-heart liked"> {{ post.likes_count }}</i>
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fa-solid fa-heart unliked"> {{ post.likes_count }}</i>
                                </button>
                                {% endif %}
                            </form>
                        {% else %}
                                <div><i class="fa-regular fa-heart likes"></i><span class="likes"> {{ post.likes_count }}</span></div>
                        {% endif %}
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                        <h5 class="comment-header">Comments:</h5>
                        <div class="comment-section">
                            {% for comment in comments %}
                                <div class="specific-comment">
                                    <p id="comment-author">{{ comment.created_by }}:</p>
                                    <p id="comment">{{ comment.comment_content }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <h5 class="comment-header">Add a comment as {{ user.username }}:</h5>
                            <div>
                                <form method="POST" class="comment-form">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger comment-btn">Submit</button>
                                </form>
                        {% else %}
                                <h6>Please <a class="link2" href="{% url 'account_login' %}">log in</a>, or 
                                <a class="link2" href="{% url 'account_signup' %}">create an account</a> to leave comments and like posts.</h6>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}